<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.CarMapper">
  <select id="carListData" resultType="CarVO" parameterType="hashmap">
    SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,num
			  FROM (SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,rownum as num
			  FROM (SELECT no,poster,name,car_class,seat,fuel,premium_ins_price 
			  FROM car
			  <if test="tabVal != '전체'">
			  	WHERE car_class LIKE '%'||#{tabVal}||'%'
			  </if>
			  ORDER BY no ASC)) 
			  WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="carTotalPage" resultType="int" parameterType="string">
  	SELECT CEIL(COUNT(*)/6.0) FROM car 
  	<if test="tabVal != '전체'">
		WHERE car_class LIKE '%'||#{tabVal}||'%'
	</if>
  </select>
  
  <select id="carSearchListData" resultType="CarVO" parameterType="hashmap">
    SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,NON_INS_QUAL,num
	  FROM (SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,NON_INS_QUAL,rownum as num
	  FROM (SELECT DISTINCT c.no,poster,name,car_class,seat,fuel,premium_ins_price,NON_INS_QUAL
	  FROM car c LEFT OUTER JOIN car_reserve cr ON c.no = cr.car_no
	  WHERE (pickup_date is null OR
	  cr.car_no NOT IN(
	  		SELECT car_no
    		FROM car_reserve WHERE(
		  		(pickup_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(return_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(#{pickup_date} BETWEEN pickup_date AND return_date)
		  		OR
		  		(#{return_date} BETWEEN pickup_date AND return_date)
	  		)
	  	))
		<if test="class_checked != null and class_checked.length > 0">
		  AND (
		  <foreach item="class" collection="class_checked" separator="OR" >
		    car_class LIKE '%'||#{class}||'%'
		  </foreach>
		  )
	  	</if>
	  	<if test="fuel_checked != null and fuel_checked.length > 0">
		  AND (
		  <foreach item="fuel" collection="fuel_checked" separator="OR" >
		    fuel LIKE '%'||#{fuel}||'%'
		  </foreach>
		  )
	  	</if>
	  ORDER BY c.no ASC))
	  WHERE num BETWEEN #{start} AND #{end}
	  
  </select>
  
  <select id="carSearchTotalPage" resultType="int" parameterType="hashmap">
   	SELECT CEIL(COUNT(*)/9.0) 
   	FROM(SELECT DISTINCT c.no
    FROM car c LEFT OUTER JOIN car_reserve cr ON c.no = cr.car_no
    WHERE (pickup_date is null OR
	  cr.car_no NOT IN(
	  		SELECT car_no
    		FROM car_reserve WHERE(
		  		(pickup_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(return_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(#{pickup_date} BETWEEN pickup_date AND return_date)
		  		OR
		  		(#{pickup_date} BETWEEN pickup_date AND return_date)
	  		)
	  	))
		<if test="class_checked != null and class_checked.length > 0">
		  AND (
		  <foreach item="class" collection="class_checked" separator="OR" >
		    car_class LIKE '%'||#{class}||'%'
		  </foreach>
		  )
	  	</if>
	  	<if test="fuel_checked != null and fuel_checked.length > 0">
		  AND (
		  <foreach item="fuel" collection="fuel_checked" separator="OR" >
		    fuel LIKE '%'||#{fuel}||'%'
		  </foreach>
		  )
	  	</if>
	)
  	
  </select>
</mapper>