<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.CarMapper">
  <select id="carListData" resultType="CarVO" parameterType="hashmap">
    SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,num
			  FROM (SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,rownum as num
			  FROM (SELECT no,poster,name,car_class,seat,fuel,premium_ins_price 
			  FROM car
			  <if test="tabVal != '전체'">
			  	WHERE car_class LIKE '%'||#{tabVal}||'%'
			  </if>
			  ORDER BY no ASC)) 
			  WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="carTotalPage" resultType="int" parameterType="string">
  	SELECT CEIL(COUNT(*)/6.0) FROM car 
  	<if test="tabVal != '전체'">
		WHERE car_class LIKE '%'||#{tabVal}||'%'
	</if>
  </select>
  
  <resultMap id="BranchResultMap" type="CarBranchVO">
	<result property="no" column="branch_no"/>
  	<result property="branch_name" column="branch_name"/>
    <result property="location" column="location"/>
    <result property="branch_phone" column="branch_phone"/>
    <result property="open_time" column="open_time"/>
    <result property="close_time" column="close_time"/>
  </resultMap>
  
  <resultMap id="CarResultMap" type="CarVO">
        <result property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="poster" column="poster"/>
        <result property="car_class" column="car_class"/>
        <result property="seat" column="seat"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="fuel" column="fuel"/>
        <result property="car_year" column="car_year"/>
        <result property="detail_option" column="detail_option"/>
        <result property="non_ins_qual" column="non_ins_qual"/>
        <result property="non_ins_price" column="non_ins_price"/>
        <result property="normal_ins_qual" column="normal_ins_qual"/>
        <result property="normal_ins_desc" column="normal_ins_desc"/>
        <result property="normal_ins_price" column="normal_ins_price"/>
        <result property="premium_ins_qual" column="premium_ins_qual"/>
        <result property="premium_ins_desc" column="premium_ins_desc"/>
        <result property="premium_ins_price" column="premium_ins_price"/>

        <association property="branch" resultMap="BranchResultMap"/>
    </resultMap>
  
  <select id="carDetailData" resultMap="CarResultMap" parameterType="int">
	SELECT
	    c.no AS no,
	    c.name AS name,
	    poster,
	    car_class,
	    seat,
	    manufacturer,
	    fuel,
	    car_year,
	    detail_option,
	    non_ins_qual,
	    non_ins_price,
	    normal_ins_qual,
	    normal_ins_desc,
	    normal_ins_price,
	    premium_ins_qual,
	    premium_ins_desc,
	    premium_ins_price,
	    
	    cb.no as branch_no,
	    branch_name,
	    location,
	    branch_phone,
	    open_time,
	    close_time
	FROM
	    car c
	JOIN car_branch cb
	    ON c.branch_no = cb.no
	WHERE c.no = #{no}
  </select>
  
  <select id="carSearchListData" resultType="CarVO" parameterType="hashmap">
    SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,NON_INS_QUAL,num
	  FROM (SELECT no,poster,name,car_class,seat,fuel,premium_ins_price,NON_INS_QUAL,rownum as num
	  FROM (SELECT DISTINCT c.no,poster,name,car_class,seat,fuel,premium_ins_price,NON_INS_QUAL
	  FROM car c 
	  	LEFT OUTER JOIN car_reserve cr 
	  		ON c.no = cr.car_no 
	  	LEFT JOIN car_branch cb 
	  		ON c.branch_no = cb.NO
	  WHERE (pickup_date is null OR
	  cr.car_no NOT IN(
	  		SELECT car_no
    		FROM car_reserve WHERE(
		  		(pickup_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(return_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(#{pickup_date} BETWEEN pickup_date AND return_date)
		  		OR
		  		(#{return_date} BETWEEN pickup_date AND return_date)
	  		)
	  	))
		<if test="class_checked != null and class_checked.length > 0">
		  AND (
		  <foreach item="class" collection="class_checked" separator="OR" >
		    car_class LIKE '%'||#{class}||'%'
		  </foreach>
		  )
	  	</if>
	  	<if test="fuel_checked != null and fuel_checked.length > 0">
		  AND (
		  <foreach item="fuel" collection="fuel_checked" separator="OR" >
		    fuel LIKE '%'||#{fuel}||'%'
		  </foreach>
		  )
	  	</if>
	  	<if test="name_search_data.length() > 0">
		  AND (name LIKE '%'||#{name_search_data}||'%')
	  	</if>
	  	<if test="loc_search_data != null and loc_search_data.length > 0">
		  AND (
		  <foreach item="loc" collection="loc_search_data" separator="OR" >
		    location LIKE '%'||#{loc}||'%'
		  </foreach>
		  )
	  	</if>
	  ORDER BY c.no ASC))
	  WHERE num BETWEEN #{start} AND #{end}
	  
  </select>
  
  <select id="carSearchTotalPage" resultType="int" parameterType="hashmap">
   	SELECT CEIL(COUNT(*)/9.0) 
   	FROM(SELECT DISTINCT c.no
    FROM car c 
	  	LEFT OUTER JOIN car_reserve cr 
	  		ON c.no = cr.car_no 
	  	LEFT JOIN car_branch cb 
	  		ON c.branch_no = cb.NO
    WHERE (pickup_date is null OR
	  cr.car_no NOT IN(
	  		SELECT car_no
    		FROM car_reserve WHERE(
		  		(pickup_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(return_date BETWEEN #{pickup_date} AND #{return_date}) 
		  		OR
		  		(#{pickup_date} BETWEEN pickup_date AND return_date)
		  		OR
		  		(#{pickup_date} BETWEEN pickup_date AND return_date)
	  		)
	  	))
		<if test="class_checked != null and class_checked.length > 0">
		  AND (
		  <foreach item="class" collection="class_checked" separator="OR" >
		    car_class LIKE '%'||#{class}||'%'
		  </foreach>
		  )
	  	</if>
	  	<if test="fuel_checked != null and fuel_checked.length > 0">
		  AND (
		  <foreach item="fuel" collection="fuel_checked" separator="OR" >
		    fuel LIKE '%'||#{fuel}||'%'
		  </foreach>
		  )
	  	</if>
	  	<if test="name_search_data.length() > 0">
		  AND (name LIKE '%'||#{name_search_data}||'%')
	  	</if>
	  	<if test="loc_search_data != null and loc_search_data.length > 0">
		  AND (
		  <foreach item="loc" collection="loc_search_data" separator="OR" >
		    location LIKE '%'||#{loc}||'%'
		  </foreach>
		  )
	  	</if>
	)
  	
  </select>
  
  <select id="adminCarListData" resultType="CarReserveVO" parameterType="hashmap">
    SELECT no, pickup_date, return_date, car_name, status,member_id,email,phone,price,member_name,num
	  FROM (SELECT no, pickup_date, return_date, car_name, status,member_id,email,phone,member_name,price,rownum as num
	  FROM (SELECT cr.no as no, pickup_date, return_date, c.name as car_name, status,member_id,email,phone,m.name as member_name,price 
	  FROM car_reserve cr 
	  JOIN car c ON cr.car_no = c.no
	  JOIN projectmember m ON m.id=cr.member_id))
	  WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="adminCarTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0)
	  FROM car_reserve cr 
	  JOIN car c ON cr.car_no = c.no
	  JOIN projectmember m ON m.id=cr.member_id
  </select>
</mapper>