<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.HotelMapper">
  <select id="hotelListData" resultType="HotelVO" parameterType="map">
    SELECT * 
    FROM (SELECT hotl.*, ROWNUM AS num
    FROM (SELECT * 
    FROM (SELECT h.no, h.title, h.img, h.addr, h.areacode, h.sigungucode, h.content_id, h.cat3, 
    		hr.price, hr.person, hr.person_max, 
    		hi.parking, hi.sauna, hi.sports, hi.checkintime, hi.checkouttime,
    ROW_NUMBER() OVER (PARTITION BY h.no ORDER BY hr.price ASC) AS rn
    FROM hotel h
    JOIN hotel_room hr ON hr.hotel_no = h.no
    JOIN hotel_info hi ON hi.hotel_no = h.no
    WHERE 1 = 1
      <if test="person != null">
	    AND hr.person &lt;= #{person}
	    AND hr.person_max &gt;= #{person}
	  </if>
      <if test="parking == 1">
	    AND parking = 1
	  </if>
	  <if test="sauna == 1">
	    AND hi.sauna = 1
	  </if>
	  <if test="sports == 1">
	    AND hi.sports = 1
	  </if>
	  <if test="food_place == 1">
	    AND hi.food_place = 1
	  </if>
	  <if test="beverage == 1">
	    AND hi.beverage = 1
	  </if>
	  <if test="barbecue == 1">
	    AND hi.barbecue = 1
	  </if>
	  <if test="bycle == 1">
	    AND hi.bycle = 1
	  </if>
	  <if test="publicpc == 1">
	    AND hi.publicpc = 1
	  </if>
	  <if test="publicbath == 1">
	    AND hi.publicbath = 1
	  </if>
	  <if test="seminar == 1">
	    AND hi.seminar = 1
	  </if>
    ) rp
    WHERE rp.rn = 1
	  <if test="areacode != null">
	    AND areacode = #{areacode}
	  </if>
	  <if test="sigungucode != null">
	    AND sigungucode = #{sigungucode}
	  </if>
	  <if test="cat3 != '' and cat3 != null">
	    AND cat3 = #{cat3}
	  </if>
	ORDER BY rp.price ASC
	) hotl
	WHERE ROWNUM &lt;= #{end}) WHERE num &gt;= #{start}
  </select>
  <select id="hotelTotalPage" resultType="int" parameterType="map">
    SELECT CEIL(COUNT(*)/8.0) 
    FROM (SELECT DISTINCT h.no 
    FROM hotel h 
    JOIN hotel_room hr ON hr.hotel_no = h.no
    JOIN hotel_info hi ON hi.hotel_no = h.no  
    <where>
      <if test="person != null">
	    AND hr.person &lt;= #{person}
	    AND hr.person_max &gt;= #{person}
	  </if>
      <if test="areacode != null">
	    AND areacode = #{areacode} 
	  </if>
	  <if test="sigungucode != null">
	    AND sigungucode = #{sigungucode} 
	  </if>
	  <if test="cat3 != '' and cat3 != null">
	    AND cat3 = #{cat3}
	  </if>
	  <if test="parking == 1">
	    AND parking = 1
	  </if>
	  <if test="sauna == 1">
	    AND hi.sauna = 1
	  </if>
	  <if test="sports == 1">
	    AND hi.sports = 1
	  </if>
	  <if test="beverage == 1">
	    AND hi.beverage = 1
	  </if>
	  <if test="barbecue == 1">
	    AND hi.barbecue = 1
	  </if>
	  <if test="bycle == 1">
	    AND hi.bycle = 1
	  </if>
	  <if test="publicpc == 1">
	    AND hi.publicpc = 1
	  </if>
	  <if test="publicbath == 1">
	    AND hi.publicbath = 1
	  </if>
	  <if test="seminar == 1">
	    AND hi.seminar = 1
	  </if>
    </where>
    )
  </select>
</mapper>